<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <h1><%= title %></h1>
    <dl>
        <dt>氏名</dt>
        <dd><%= user.name %></dd>
        <dt>出身地</dt>
        <dd><%= user.birthplace %></dd>
        <dt>趣味</dt>
        <dd>
            <ul>
             <!--user.hobbyを繰り返してliで表示 -->               
            <% user.hobby.forEach((value) => { %>
                <li><%= value %></li>
            <% }) %>
            </ul>
        </dd>
    </dl>
</body>
</html>