<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <table>
        <tr>
            <th>商品名</th>
            <td><%= item.name %></td>
        </tr>
        <tr>
            <th>価格</th>
            <td>\<%= item.price %></td>
        </tr>
    </table>
</body>
</html>