<h1><%= title %></h1>
<table>
    <tr>
        <th>商品名</th>
        <td>
            <%= item.name %>
        </td>
    </tr>
    <tr>
        <th>価格</th>
        <td>\<%= item.price %>
        </td>
    </tr>
</table>