<h2>Login</h2>
<form action="/auth" method="post">
    <div>
        <label class="form-label">ログイン名</label>
        <input class="form-control" type="text" name="login_name">
    </div>
    <div>
        <label class="form-label">パスワード</label>
        <input class="form-control" type="password" name="password">
    </div>
    <div class="mt-3">
        <button class="w-100 btn btn-primary">Login</button>
    </div>
</form>